/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
/* #endregion common */

/* #region color palette */

/* #endregion color palette */

/* #region utilities */
.debug *{
    border: 1px dashed;
}
/* #endregion utilities */

/* #region main */
#app-main{
    height: 100vh;
}

.top{
    height: calc(100% - 90px);
    display: flex;
}

.bottom{
    background-color: greenyellow;
    height: 90px;
}

.sidebar{
    background-color: aliceblue;
    width: 230px;

    @media (max-width:600px) {
        width: 50px;
    }
}

.content{
    background-color: brown;
    width: calc(100% - 230px);

    @media (max-width:600px) {
        width: calc(100% - 50px);
    }

    .upgrade{
        height: 90px;
        background-color: aquamarine;
        text-align: end;
    }
}
/* #endregion main */
