/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

section{
    padding: 1.5rem 0rem;
}
/* #endregion common */

/* #region color palette */

/* #endregion color palette */

/* #region utilities */
.debug *{
    border: 1px dashed;
}

.container{
    width: 97%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-2{
    width: calc((100% / 12) * 2);
}

[class^="col-"]{
    padding: 1rem;
}
/* #endregion utilities */

/* #region main */
#app-main{
    height: 100%;
}

.top{
    height: calc(100% - 90px);
    display: flex;
}

.bottom{
    background-color: greenyellow;
    height: 90px;
}

.sidebar{
    background-color: aliceblue;
    width: 230px;

    @media (max-width:600px) {
        width: 50px;
    }
}

.content{
    background-color: brown;
    width: calc(100% - 230px);
    overflow-y: auto;

    @media (max-width:600px) {
        width: calc(100% - 50px);
    }

    #upgrade{
        height: 90px;
        background-color: aquamarine;
        text-align: end;
    }

    #menu{
        background-color: goldenrod;
        text-align: center;
    }
}
/* #endregion main */

/* #region media query */
@media screen and (max-width:1100px) {
    
    .col-md-3{
        width: calc((100% / 12) * 3);
    }
}

@media screen and (max-width:800px) {
    
    .col-sm-6{
        width: calc((100% / 12) * 6);
    }
}

/* #region media query */
