/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

section:not(#menu, #upgrade){
    padding: 1rem 0rem 0rem 0rem;
}
/* #endregion common */

/* #region color palette */
:root{
    --spo-bg-primary: #141922;
    --spo-bg-secondary: #080b12;
    --spo-bg-sidebar: #000000;
    --spo-light: #f2f2f3;
    --spo-lighter: #ffffff;
    --spo-secondary: #7c7e83;
    --spo-footer-bg: #282828;
    --spo-sidebar-text: #a3a3a3;
    --spo-border-hover: #adff2f;
}
/* #endregion color palette */

/* #region utilities */
.debug *{
    border: 1px dashed;
}

.top{
    height: calc(100% - 90px);
    display: flex;
}

.bottom{
    height: 90px;
    background-color: var(--spo-footer-bg);
}

.container{
    width: 97%;
    margin: auto;
}

.container-sidebar{
    width: 90%;
    margin: auto;
    height: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-2{
    width: calc((100% / 12) * 2);
}

[class^="col-"]{
    padding: 1rem;
}

.d-flex{
    display: flex;
}

.jc-center{
    justify-content: center;
}

.jc-space-between{
    justify-content: space-between;
}

.fw-wrap{
    flex-wrap: wrap;
}

.fd-column{
    flex-direction: column;
}
/* #endregion utilities */

/* #region main */
#app-main{
    height: 100vh;
}

.sidebar{
    width: 230px;
    background-color: var(--spo-bg-sidebar);
    color: var(--spo-sidebar-text);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;

    @media (max-width:600px) {
        width: 50px;
    }

    ul{
        list-style: none;

        li{
            padding-bottom: .5rem;
        }
    }

    a{
        text-decoration: none;
        color: var(--spo-sidebar-text);
        font-size: .6rem;

        i{
            font-size: 1rem;
            margin-right: .65rem;

            @media (max-width:600px) {
                margin: 0;
            }
        }
    }

    .logo-big{
        margin-top: .75rem;

        img{
            width: 50%;
        }

        @media (max-width:600px) {
            display: none;
        }
    }

    .logo-small{
        margin-top: .75rem;
        display: none;

        @media (max-width:600px) {
            display: block;
            text-align: center;
        }

        img{
            width: 50%;
        }
    }

    #navbar{
        margin-top: .75rem;

        @media (max-width:600px) {
            text-align: center;
        }

        span{

            @media (max-width:600px) {
                display: none;
            }
        }
        
        #home{
            color: var(--spo-lighter);
        }
    }

    .new-playlist{


        @media (max-width:600px) {
            display: none;
        }

        h4{

            a{
                font-size: .75rem;
                color: var(--spo-lighter);
            }
        }

        .new{
            
            i{
                background-color: var(--spo-sidebar-text);
                color: var(--spo-bg-sidebar);
                padding: .5rem;
                font-size: .85rem;
                vertical-align: middle;
                margin-right: .25rem;
            }

            span{
                vertical-align: middle;
                font-size: 0.65rem;
            }
        }

        .playlist-list{
            margin-top: .85rem;
        }
    }

    li:hover a{
        color: var(--spo-lighter);
    }

    li:hover .fa-plus{
        background-color: var(--spo-lighter);
    }

    .profile{
        width: 100%;
        margin-bottom: 1rem;

        @media (max-width:600px) {
            text-align: center; 
        }

        i, span{
            vertical-align: middle;
        }

        i{
            font-size: .75rem;
            margin-right: .3rem;
        }

        hr{
            margin-top: .5rem;
            width: 80%;
            border: 1px solid var(--spo-sidebar-text);
        }

        .user{
            margin-top: .5rem;

            i{
                font-size: 1rem;
            }

            span{
                color: var(--spo-lighter);
                font-size: .75rem;
            }
        }

        span, hr{

            @media (max-width:600px) {
                display: none;
            }
        }
    }

}

.content{
    width: calc(100% - 230px);
    overflow-y: auto;
    background-color: var(--spo-bg-primary);

    @media (max-width:600px) {
        width: calc(100% - 50px);
    }

    #upgrade{
        height: 90px;
        background-color: var(--spo-bg-secondary);
        display: flex;
        flex-direction: row-reverse;
        align-items: center;


        a{
            text-decoration: none;
            color: var(--spo-light);
            font-size: .7rem;
            margin-right: 1rem;
            border: 1px solid white;
            padding: .75rem 2rem;
            border-radius: 3rem;
        }

        .grow{
            transition: all .2s ease-in-out;
        }

        .grow:hover{
            transform: scale(1.1);
        }
    }

    #menu{
        text-align: center;

        ul{
            list-style: none;

            li{
                padding-left: 1.5rem;
                padding-top: 0.75rem;

                hr{
                    border: 1px solid var(--spo-border-hover);
                    width: 30%;
                    margin: auto;
                    margin-top: .2rem;
                }
            }

            a{
                text-decoration: none;
                color: var(--spo-secondary);
                font-size: .65rem;
                font-weight: 600;
            }
        }

        li:hover a{
            color: var(--spo-lighter);
        }
    }

    #recently-played{
        padding: 1.5rem 0 0 0;
    } 

    h2, h4{
        color: var(--spo-lighter);
    }

    h2{
        margin-bottom: 1rem;
    }

    h4{
        font-size: .75rem;
    }

    h5{
        color: var(--spo-secondary);
        font-size: .65rem;
        margin-bottom: .75rem;
    }
    

    .row{

        .thumbnail{
            position: relative;
            
            .play-icon{
                color: var(--spo-lighter);
                font-size: 3rem;
                position: absolute;
                top: 35%;
                right: 35%;
                z-index: 20;
                display: none;
            }
        }
        
        .thumbnail:hover .play-icon{
            display: inline-block;
        }
        
        .thumbnail:hover img{
            opacity: 0.5;
        }
    
        .card-info{
            text-align: center;
            
            h4, h5{
                margin-top: .5rem;
            }
        }  
    }
     
}
/* #endregion main */

/* #region media query */
@media screen and (max-width:1100px) {
    
    .col-md-3{
        width: calc((100% / 12) * 3);
    }

    .container-md{
        width: 55%;
        margin: auto;
    }
}

@media screen and (max-width:800px) {
    
    .col-sm-6{
        width: calc((100% / 12) * 6);
    }
}

/* #endregion media query */
